body {
    font-family:"Comic Sans MS";
    background-image: url("https://jooinn.com/images/bokeh-14.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: aliceblue;
    text-align: center;
    text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 2px 2px 2px #000;
    transform: scale(100%);
    transform-origin: top left;
}

header {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transform: scale(0.7);
    transform-origin: top left;
    margin-bottom: 0;
}

#headerImage {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

#headerText {
    flex: 1;
    text-align: left;
}
h1 {
    color: gold;
    font-size: 28px;
    animation: moveAndScale 1s linear infinite;
}

@keyframes moveAndScale {
    0%, 100% {
        transform: translate(0, 0) scale(1);
    }
    25% {
        transform: translate(20px, 20px) scale(1.5);
    }
    50% {
        transform: translate(40px, 0) scale(0.8);
    }
    75% {
        transform: translate(20px, -20px) scale(1.5);
    }
}
ul {
    list-style-position: inside;
    text-align: center;
    padding: 0;
}

a {
    color: lightblue;
}